
    <div class="sidebar">
    <a href="#" class="active"><i class="fas fa-tachometer-alt"></i>dashboard</a>
    <a href="/createBlog"><i class="fas fa-edit"></i>create blog</a>
    <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>

    <hr>

    <div class="low_div">
        <i class="fas fa-user"></i>
       {{data.Name}}
    </div>
      
  </div>
