{{>Header}}
{{>Navbar4}}


   {{#if msg}}
 <div class="alert alert-danger" id="dangerAlert" role="alert">
  {{msg}}
</div>
    {{/if}}


{{#if Success}}
<div class="alert alert-success" id="SuccessAlert" role="alert">
{{Success}}
</div>
{{/if}}


<form action="/forgetpassword" method="post" id="form" style="margin-top: 9rem;" >

<label for="password">Enter Your Password:</label>
<input type="text" name="passwords" id="password" class="form-control" required placeholder="Enter Password" >
<div class="errinfo"></div>

<input type="text" name="id" id="id" value={{id}}>

<input type="submit" id="LoginBtn" class="btn btn-primary" value="Set Password">


</form>




{{>Foot}}

<script>
    const LoginBtns = document.getElementById("LoginBtn");
    LoginBtns.addEventListener("click",(e) => {
         if(!validatePassword()){
            e.preventDefault();
            return false
         } else {
            return true
         }
    });


const validatePassword = () => {
    const password = document.getElementById("password").value;
    const errinfo = document.getElementsByClassName("errinfo")[0];
    if(password.length === 0) {
        errinfo.innerHTML = "password is required"
        return false
    } else if(password.length < 8) {
       errinfo.innerHTML = "password is Must Greater Then 8 Or Equals to"
       return false
    } else {
       errinfo.innerHTML = ""
       return true
    }
}


</script>

{{>Footer2}}


