{{>Header}}
{{>Navbar4}}


   {{#if msg}}
 <div class="alert alert-danger" id="dangerAlert" role="alert">
  {{msg}}
</div>
    {{/if}}


{{#if Success}}
<div class="alert alert-success" id="SuccessAlert" role="alert">
{{Success}}
</div>
{{/if}}


<form action="/forget" method="post" id="form" style="margin-top: 9rem;" >

<label for="email">Enter Email Address :</label>
<input type="text" name="email" id="email" class="form-control" required placeholder="Enter Email" >
<div class="errinfo"></div>

<input type="submit" id="LoginBtn" class="btn btn-primary" value="send Email">


</form>


{{>Foot}}
{{>Footer2}}


